@import 'compass/reset';
@import 'compass';

/**
 * Import grid settings :
 * This to be able to use gridle mixins, etc...
 */
@import 'index';


/**
 * variables:
 */

// color pallete
$font-color: #334466;
$font-accent: #667788;

$body-font: 'Raleway', 'Lato', sans-serif;

$base-font-size: 100%;

/**
 * OOCSS:
 */
.text-center {
    text-align: center;
}

.center {
    @include center(900px);
}

.cf {
    @include clearfix();
}
strong {
    font-weight: 800;
}

.f-height {
    height: 100%;
}

/**
 * Basic formatting :
 */
 html {
    font: $base-font-size $body-font;
}

h1 {
    font-size: 2.4rem;
}
h2 {
    font-size: 2rem;
}


/**
 * Page styles :
 */
html,
body {
    height: 100%;
}

body {
    @include box-sizing(border-box);
    color:$font-color;
    font-size: 1.4rem;
    position:relative;
}

.main-header {
    border-bottom: 1px solid #3d3d3d;
    color: #fff;
    min-height: 400px;
    position: fixed;
    top: 0;
    width:100%;
    .title {
        @include align(vertical);
        font-size: 4rem;
        right: 2%;
        top: 30px;
        overflow: hidden;
        padding-bottom: 5px;
        z-index: 1;
        &::after{
            @include transition(transform 0.35s);
            @include transform(translate3d(100%,0,0));
            background: #fff;
            bottom: 0;
            content: '';
            height: 1px;
            position: absolute;
            right: 0;
            width: 100%;
        }
    }
    .sub-title {
        @include align(vertical);
        @include transition(opacity 0.35s, transform 0.35s);
        @include transform(translate3d(-100%,0,0));
        font-size: .8rem;
        @include opacity(0);
        right: 2%;
        top: 80px;
        z-index: 1;
    }
    .main-header-background {
        @include transition(opacity 0.35s, transform 0.35s);
        @include transform(translate3d(0,0,0) scale(1.12));
        background: url("../img/unsplash_528c8f581f45e_1.JPG");
        background-size:cover;
        background-position:center;
        background-repeat:no-repeat;
        min-height:400px;
        width:100%;
        &:hover {
            @include transform(translate3d(0,0,0) scale(1));
        }
    }
    &:hover {
        .title {
            &::after {
                @include transform(translate3d(0,0,0));
            }
        }
        .sub-title {
                @include transform(translate3d(0,0,0));
                @include opacity(1);
        }
    }
}
.main-container {
    @include box-shadow(0 0 30px 0 rgba(0,0,0,0.35));
    background: #fff;
    display: table;
    position: relative;
    margin: 401px auto 0;
    z-index: 3;
    width: 100%;
    .content {
        // @include center($max-width: 100%, $pad: 4rem);
        @include col(2/3, .1699);
        margin-top: 3rem;
        p {
            margin-bottom: 1rem;
        }
    }
}

.side-nav-container {
    color: $font-accent;
    font-size: 3rem;
    position: absolute;
    top: 7.5rem;
    left: 2rem;
    z-index: 4;
    &:hover {
        cursor: pointer;
    }
}

quote {
    color: $font-accent;
    display: block;
    font-size: 1.6rem;
    font-style: italic;
    margin: 1.5rem 0;
    padding: 1.5rem;
    opacity: .6;
}